/file.template.settings.xmlbuild/
/vendor/
/tools/
/build/
/coverage/
/.idea/*
!/.idea/php.xml
!/.idea/file.template.settings.xml
!/.idea/fileTemplates/
/.psalm/cache/
!/.psalm/cache/.gitkeep
/.phpunit.cache
